<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本番用-->
    <!--<add key="connectionString" value="Data Source=10.160.192.114; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=sa" />
    <add key="requestUrl" value="http://10.160.192.114/GKL2020/Img.aspx" />-->
    <add key="connectionString" value="Data Source=10.160.192.114; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=ying+xian_2019" />
    <add key="requestUrl" value="http://10.160.192.114/GKL2020/Img.aspx" />
    <!--本番用 2号服务器-->
    <!--<add key="connectionString" value="Data Source=DLTDLFSDB004; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=xxp+2104;"/>
    <add key="requestUrl" value="http://DLTDLFSDB004/GKL2020/Img.aspx"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
