<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="img_save_path" value="D:\GKL_IMG\" />-->
    <add key="img_save_path" value="G:\GKL2020_IMG\GKL_IMG\" />
    <!--<add key="camera" value=",SRM1223A,SRM1213A,SRM1241A,SRM1231A,SRM1231A,SRM1232A," />-->
    <add key="camera" value=",SRM1223A,SRM1241A,SRM1211A,SRM1232A,SRM1213A,SRM1214A,SRM1222A,SRM1243A,SRM1341A,SRM1231A,SRM1361A," />
    <!--标签一致-->
    <add key="biaoqianyizhi" value=",," />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--报工的生产线-->
    <add key="baogong_lines" value=",SRM1318A,SRM1312A,SRM1315A,SRM1211A,SRM1223A,SRM1243A,SRM1316A,SRM1336A,SRM1326A,SRM1213A,SRM1214A,SRM1341A,SRM1241A,SRM1335A,SRM1222A,SRM1363A,SRM1366A,SRM1231A,SRM1232A,SRM1387A," />
    <!--强制完了 就报工的生产线 不写就就直接完了，但是不报工-->
    <add key="qiangzhi_baogong_lines" value=",SRM1387A," />
    <!--颜色检查不扫码的生产线-->
    <add key="autoColor_lines" value=",SRM1223A," />
    <!--<add key="autoColor_lines" value=",,"/>-->
    <!--关联托盘的生产线 -->
    <!--<add key="tuopan_lines" value=",SRM1211A,SRM1213A,SRM1214A,SRM1222A,SRM1223A,SRM1231A,SRM1232A,SRM1241A,SRM1243A," />-->
    <add key="tuopan_lines" value=",SRM1211A,SRM1213A,SRM1214A,SRM1222A,SRM1223A,SRM1231A,SRM1232A,SRM1241A,SRM1243A," />
    <!--<add key="YXLD_lines" value=",SRM1211A," />-->
    <add key="YXLD_lines" value=",SRM1223A,SRM1211A,SRM1341A," />
    <!--显示呼叫的生产线-->
    <add key="HuJiao_lines" value=",SRM1211A,SRM1213A,SRM1214A,SRM1222A,SRM1223A,SRM1231A,SRM1232A,SRM1341A" />

    <!--打印标签986-->
    <add key="print_lines986" value=",SRM1231A," />
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=10.160.192.114; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=ying+xian_2019;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1" />
    <add name="connectionSAP" connectionString="Data Source=10.160.192.116; Initial Catalog=planDB;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1" />
    <add name="connectionBaogong" connectionString="Data Source=10.160.192.116; Initial Catalog=OrderConfirm;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1" />
    <!--<add name="GKLConnectionString" connectionString="Data Source=10.160.192.114;Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=ying+xian_2019"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.Rtc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647" requestValidationMode="2.0" executionTimeout="600" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".msp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".msu" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".deplo" mimeType="application/x-ms-vsto" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>