<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="img_save_path" value="D:\GKL_IMG\" />-->
    <add key="img_save_path" value="D:\GKL2020_IMG\GKL_IMG\" />
    <!--<add key="camera" value=",SRM1532B,SRM1534B,SRM1539B,SRM1551B," />-->
    <add key="camera" value=",SRM1532B,SRM1539B,SRM1551B," />
    <!--标签一致-->
    <add key="biaoqianyizhi" value=",SRM1223A,SRM1213A,SRM1241A,SRM13112A," />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--报工的生产线-->
    <add key="baogong_lines" value=",," />
    <!--强制完了 就报工的生产线-->
    <add key="qiangzhi_baogong_lines" value=",," />
    <!--颜色检查不扫码的生产线-->
    <add key="autoColor_lines" value=",," />
    <!--<add key="autoColor_lines" value=",,"/>-->
    <!--关联托盘的生产线-->
    <add key="tuopan_lines" value=",," />
    <!--前工程检查完才能检下一工程-->
    <add key="Pre_allOK_chked_lines" value=",SRM1532B,SRM1534B,SRM1551B,SRM1539B," />
    <!--检查所有生产线权限的生产线-->
    <add key="Chk_AllLines_lines" value=",," />
  </appSettings>
  <connectionStrings>
    <!--DB　SQL2008テスト用-->
    <!--<add name="connectionString" connectionString="Data Source=10.160.200.39; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=lixil@2014" providerName="SQLNCLI10.1"/>-->
    <!--<add name="connectionString" connectionString="Data Source=AGOBW-707150707\SQLEXPRESS2008;Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=19833130" providerName="SQLNCLI10.1"/>-->
    <!--本番用 1号服务器-->
    <!--<add name="connectionString" connectionString="Data Source=OT0940; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=sa;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--本番用 2号服务器-->
    <!--<add name="connectionString" connectionString="Data Source=DLTDLFSDB004; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=xxp+2104;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--<add name="connectionSAP" connectionString="Data Source=OT9080; Initial Catalog=scgl_PeiSong;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--室1-->
    <!--<add name="connectionString" connectionString="Data Source=HOME001\HOME002; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=19833130;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--<add name="connectionSAP" connectionString="Data Source=OT9080; Initial Catalog=scgl_PeiSong;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--室2号服务器-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-FVCD9RR\MS2019; Initial Catalog=GKL2;Persist Security Info=True;User ID=sa;Password=19833130;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--<add name="connectionSAP" connectionString="Data Source=OT9080; Initial Catalog=scgl_PeiSong;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--室2号服务器-->
   <add name="connectionString" connectionString="Data Source=DLTDLFSDB004; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=xxp+2104;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1" />
    <!--<add name="connectionString" connectionString="Data Source=10.160.192.114; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=ying+xian_2019;Packet Size=8192;Max Pool Size=1000;"
  providerName="SQLNCLI10.1" />-->
    
    <!--<add name="connectionSAP" connectionString="Data Source=OT9080; Initial Catalog=scgl_PeiSong;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <add name="connectionSAP" connectionString="Data Source=10.160.192.116; Initial Catalog=planDB;Persist Security Info=True;User ID=sa;Password=sap+2020;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>
    <!--<add name="connectionString" connectionString="Data Source=JXS001; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=19833130;Packet Size=8192;Max Pool Size=1000;" providerName="SQLNCLI10.1"/>-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-N9EMD99\MS2012; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=19833130" providerName="SQLNCLI10.1"/>-->
  </connectionStrings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="2147483647" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".msp" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".msu" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".deplo" mimeType="application/x-ms-vsto"/>
    </staticContent>
  </system.webServer>
</configuration>